/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.cpcache/
resources/pattern-library/
.shadow-cljs/
node_modules/
resources/public/css/ui.css
resources/public/css/ui.css.map